{% extends 'Blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
    body{
        background-color: lightgray;
    }
    </style>
    <div class="content-section" >
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom">Reset Password</legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Request Password Reset</button>
            </div>
        </form>
    </div><!-- content-section -->
{% endblock %}