<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body style="background:#276566;color:white;">
<br>
<center>
<h3 style="color:red;border:6px dotted white;background:cyan;margin-left:250px;margin-right:250px;"><i>@ .. Contact Details About Admin .. @</i></h3><hr></center>
 <table style="font-size:20px;margin-left:250px;">
     <tr><td><img style="border:2px dotted white;" src="/static/Dhana1.jpg" height="170px" width="170px"></td> </tr>
     <tr><td></td></tr>   <tr><td></td></tr>  <tr><td></td></tr>   <tr><td></td></tr>
     <tr><td></td></tr>   <tr><td></td></tr>   <tr><td></td></tr>  <tr><td></td></tr>
               <tr>
            <td>AdminName :</td>
            <td>Polimera Dhana</td>
        </tr><br><br>
        <tr>
            <td>Mobile No  :</td>
            <td>7997418091 / 7989260733</td>
        </tr>
        <tr>
            <td>Email       :</td>
            <td>dhanakondareddy825@gmail.com</td>
        </tr>
        <tr>
            <td>What's Up No  :</td>
            <td>7997418091</td>
        </tr>

    </table><br><br><br><center>
<a class="btn btn-success" href="/" role='button' ><i><<--Back</i></a></center>
</body>
</html>