<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <style>
    img{border:4px dotted black;}
    #god
    {
    height:100px;
    width:100px;
    border-radius:200px;
    transform:rotate(0deg);transition:8s;
    border:2px dotted black;
    }</style>
</head>
<body><br>
<center><img id="god" src="/static/lakshmidevi1.jpg"><br><br>
  <i> <h3 style="border:5px dotted white;background:black;color:red;margin-left:200px;margin-right:200px;">@ ... PayAmount With 99 Rupees Only ... @</h3><br><hr><br>
 </i> </center>
<center>
<img src="/static/DhanaQRcode1.png" height="300px" width="300">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<img src="/static/DhanaQRcode2.png" height="300px" width="300"><br><br>

<h4><i>After Completing Your Payment Immediately send AdminName and SecreteKey your Mobile No<br>
         Any Problem is occured contact with me </i></h4><br>
    <a class="btn btn-success" href="/" role='button' ><i><<--Back</i></a>
    </center>
</body>
</html>