<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BoookListView</title>
  </head>
  <body bgcolor='black' text="red">
    <center>
    <h1 style='background:cyan'>All Book Information</h1></center>
    {% for book in book_list %}
    <ul>
      <li><strong style='color:blue'>Title   </strong>:{{book.title}}</li>
      <li><strong style='color:blue'>Author  </strong>:{{book.author}}</li>
      <li><strong style='color:blue'>Pages   </strong>:{{book.pages}}</li>
      <li><strong style='color:blue'>Price   </strong>:{{book.price}}</li>
      </ul>
      <hr>
      {%endfor%}
  </body>
</html>
