<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background-color: lightblue;
    }
</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card bg-primary text-white text-center">
                <div class="card-header">
                    <h4 class="card-title">Total Orders</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ total_order }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card bg-secondary text-white text-center">
                <div class="card-header">
                    <h4 class="card-title">Pending</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ pending }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card bg-success text white text-center">
                <div class="card-header">
                    <h4 class="card-title">Delivered</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ delivered }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card bg-danger text-white text-center">
                <div class="card-header">
                    <h4 class="card-title">Out For Delivery</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ outfordelilvery }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>